<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>LSC Interim Case Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="GET" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Calendar Year, January 1 to June 30:<br/>
      <input class="form-control" type="text" name="calendar_year" value="%%[calendar_year]%%" tabindex="1"><br/>
      Office:<br/>
      <input class="form-control" type="text" name="office" value="" tabindex="1" /><br/>
      Funding:<br/>
      <input class="form-control" type="text" name="funding" value="" tabindex="1" /><br/>
    </div>
    <div class="col">
      Unduplicated:<br/>
      %%[undup,yes_no]%%<br/>
      %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
      %%[show_sql,checkbox,label=Show SQL]%%<br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1" />
    </div>
  </div>
</div>
</form>

<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
