<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Time Codes Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Staff Member:<br/>
      %%[user_list,user_list,width=auto]%%
    </div>
    <div class="col">
      Start Date:<br/>
      %%[date_start,input_date_selector]%%<br/>
      End Date:<br/>
      %%[date_end,input_date_selector]%%<br/>
    </div>
    <div class="col">
      <h2>Time Code Definitions</h2>
      <input type="text" name="holidaycode" value="SK"> <label for="holidaycode">Holiday Code</label><br/>
      <input type="text" name="lunchcode" value="SL"> <label for="lunchcode">Lunch Code</label><br/>
      <input type="text" name="vacationcode" value="SV"> <label for="vacationcode">Vacation Code</label><br/>
      <input type="text" name="compcode" value="SM"> <label for="compcode">Comp Time Code</label><br/>
      <input type="text" name="sickcode" value="SS"> <label for="sickcode">Sick Code</label><br/>
    </div>
    <div class="col">
      %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
      %%[show_sql,checkbox,label=Show SQL]%%<br/>
    </div>
  </div>
  <div class="row" style="margin-top:5px"></div>
  <div class="row">
    <div class="col">
      <input type=submit name=submit value="Generate Report" class="btn btn-primary" tabindex="1"><br/>
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>

%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
%%[checkbox_list.js,javascript,parse]%%
