<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Megareport</h2>
<hr>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" id="mega" name="mega" target="_blank">
<div class="container-fluid">
<div class="row">
	<div class="col">
	Select Cases fields...<br>
	<div class="border border-dark" style="padding: 3px"><div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[cases,field_list]%%</div>
	</div></div>
        <div class="col">
	Client fields...<br>
	<div class="border border-dark" style="padding: 3px"><div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[contacts,field_list]%%</div>
	</div></div>
        <div class="col">
	and Activity fields to display.
	<div class="border border-dark" style="padding: 3px"><div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[activities,field_list]%%</div>
	</div></div>
</div>
<div class="row" style="margin:5px">
Select report parameters:
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield0,fields,nomsg]%%</div>
  <div class="col">%%[fcomp0,comparison_sql]%%</div>
  <div class="col">%%[fvalue0,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield1,fields,nomsg]%%</div>
  <div class="col">%%[fcomp1,comparison_sql]%%</div>
  <div class="col">%%[fvalue1,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield2,fields,nomsg]%%</div>
  <div class="col">%%[fcomp2,comparison_sql]%%</div>
  <div class="col">%%[fvalue2,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield3,fields,nomsg]%%</div>
  <div class="col">%%[fcomp3,comparison_sql]%%</div>
  <div class="col">%%[fvalue3,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield4,fields,nomsg]%%</div>
  <div class="col">%%[fcomp4,comparison_sql]%%</div>
  <div class="col">%%[fvalue4,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">%%[ffield5,fields,nomsg]%%</div>
  <div class="col">%%[fcomp5,comparison_sql]%%</div>
  <div class="col">%%[fvalue5,input_text]%%</div>
</div>
<div class="row" style="margin-top: 5px"></div>
<div class="row">
  <div class="col">
    <div class="card card-body bg-light">
    Change the order of fields on the report:<br/>
    %%[fo,fo,multiselect,style=border:1px black solid;,nomsg,noblank,size=8]%%<br/>
    <input class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px" type="button" value="Move Up" onclick="move_up();" />
    <input class="btn btn-outline-secondary btn-sm" type="button" value="Move Down" onclick="move_down();" />
    </div>
  </div>
  <div class="col">
    Report only on these staff:<br>
    %%[users_list,user_list,width=auto]%%
  </div>
  <div class="col">
        Calculate sum of:<br/>
        %%[sum,sum,nomsg]%%<br/>
        Calculate totals of:<br/>
        %%[count,count,nomsg]%%<br/>
        <div class="card card-body bg-light">
        Group sums by:<br/>
        %%[group_by,group_by,nomsg]%%,<br/>
        %%[group_by2,group_by,nomsg]%%<br/>
        </div>
  </div>
  <div class="col">
        Maximum results returned:<br/>
        %%[recordlimit,recordlimit,noblank]%%<br/>
        <div class="card card-body bg-light">
        Order report results by:<br>
        %%[order_by,order_by,nomsg]%%,<br/>
        %%[order_by2,order_by,nomsg]%%<br/>
        </div>
  </div>
</div>
<div class="row">
%%[show_sql,yes_no,checkbox,label=Show SQL]%%
%%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%	
<input class="btn btn-primary btn-lg" style="margin-left: 10px" type="submit" value="Run Report" class="save" onClick="highlight_all_fo();" />
</div>
</div>
</form>
<hr>
<h2>Load Saved Report</h2>
<div class="container-fluid">
<div class="row">
	<div class="col">
	
	%%[saved_reports,file_list,mode=edit_select,doc_type=R,folder_field=parent_folder,doc_field=form_id]%%
	<br/>
	<form name='docgen' id='docgen'>
	<button class="btn btn-secondary" onclick="load_report('mega',document.docgen.form_id.value);return false;">Load Saved Report</button><br/>
	
	</div>
	<div class="col">
	%%[form_id,input_hidden]%%
	Report Name:<br/>
	<input class="form-control" type="text" id="doc_name" name="doc_name" value="Megareport Saved: %%[current_date]%%" size="25" tabindex="1"/>
	<button class="btn btn-secondary" onclick="save_report('mega','doc_name');setTimeout('reload(\'saved_reports\')',500);return false;">Save Report</button>
	</form>
	<form action="%%[base_url]%%/ops/upload_document.php" name="add_folder" method="POST">
	New Folder Name:<br/>
	<input class="form-control" type="text" value="" name="folder_name"/>
	<input class="btn btn-secondary" type="submit" name="add_folder" value="Add Folder"/>
	<input type='hidden' name='folder' value="1"/>
	<input type='hidden' name='parent_folder' value=""/>
	<input type="hidden" name="doc_type" value="R"/>
	<input type="hidden" name="report_name" value="%%[report_name]%%"/>
	</form>
	</div>
</div>
</table>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[megareport.js,javascript,parse]%%
%%[ajax_init.js,javascript]%%
%%[file_list.js,javascript,parse]%%
%%[save_report.js,javascript,parse]%%
%%[checkbox_list.js,javascript]%%
