<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<!-- 05-19-2011 - caw - created new report based frm inactive_case -->
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Inactive User Report</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Activity Prior To:  <br/>
      %%[inactive_date_begin,input_date_selector]%%
    </div>
    <div class="col">
      %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
      %%[show_sql,checkbox,label=Show SQL]%%<br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>

%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
