<!-- about.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>About This Software</h2>

<p><strong>%%[branding]%% Case Management System</strong></p>
<p>Version %%[pika_version]%%.%%[pika_revision]%%.%%[pika_patch_level]%% (%%[pika_code_name]%%)</p>
<h4>Credits:</h4>
<p><a href="https://github.com/aworley/ocm" style="text-decoration: underline">Portions</a> of this software are &copy; 2015 Pika Software, LLC. <a href="https://github.com/aworley/ocm/blob/master/license.txt" style="text-decoration: underline"> LICENSE</a></p>
<p>Additional portions of this software are developed by Metatheria, LLC. Insofar as these portions constitute GPL version 2 derivative works of material developed by Pika Software, LLC and released under the GPL version 2, they continue to be licensed under the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt" style="text-decoration: underline">GNU General Public License version 2.</a> Insofar as any portions of this software developed by Metatheria, LLC do not contitute derivative works, Metatheria, LLC explicitly dedicates these portions to the public domain under the Unlicense, an expansively permissive license with no use restrictions and no claim of copyright. <a href="https://choosealicense.com/licenses/unlicense/" style="text-decoration:underline">LICENSE</a></p>
<p><a href="https://getbootstrap.com/"  style="text-decoration: underline">Bootstrap</a> is copyright Twitter, Inc and The Bootstrap Authors. <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE"  style="text-decoration: underline"> LICENSE</a></p>
<p><a href="https://bootstrapious.com/p/bootstrap-sidebar"  style="text-decoration: underline">Bootstrap Sidebar</a> courtesy of Bootstrapius.com Tutorials. Bootstrapius tutorial content <a href="https://bootstrapious.com/terms-of-service"  style="text-decoration: underline">is licensed under the MIT LICENSE</a></p>
<p><a href="https://jquery.org/"  style="text-decoration: underline">jQuery</a> is copyright the JS Foundation <a href="https://jquery.org/license/"  style="text-decoration: underline">LICENSE</a></p>
<p><a href="https://fontawesome.com/"  style="text-decoration: underline">Font Awesome Free</a> is developed by the <a href="https://github.com/FortAwesome/Font-Awesome#team"  style="text-decoration: underline">Font Awesome Team.</a> under the MIT, SIL OFL, and CC <a href="https://fontawesome.com/license/free"  style="text-decoration: underline">LICENSES</a></p>
<p><a href="https://css-tricks.com/the-current-state-of-styling-scrollbars/" style="text-decoration: underline">Styled scrollbars</a> are courtesy of css-tricks.com tutorials. CSS-Tricks.com content is <a href="https://css-tricks.com/license/" style="text-decoration: underline">explicitly dedicated to the public domain.</a></p>
<p><a href="https://docassemble.org/" style="text-decoration: underline">Docassemble</a> is copyright Jonathan Pyle. <a href="https://github.com/jhpyle/docassemble/blob/master/LICENSE.txt" style="text-decoration: underline">LICENSE<a></p>


<h2>About This %%[branding]%% Server</h2>
<table>
<tr> 
    <td nowrap align="right">Host Name:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[server_name]%%</strong></td>
</tr><tr> 
    <td nowrap align="right">System Configuration Last Changed on:</td>
	<td nowrap>&nbsp;</td>
	<td nowrap><strong>%%[config_date]%%</strong></td>
</tr><tr> 
	<td nowrap align="right">This Version Installed on:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[install_date]%%</strong></td>
</tr><tr> 
	<td nowrap align="right">%%[branding]%% Version:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[pika_version]%%.%%[pika_revision]%%.%%[pika_patch_level]%% (%%[pika_code_name]%%)</td>
</tr><tr> 
    <td nowrap align="right">MySQL Version:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[mysql_version]%%</strong></td>
</tr><tr> 
    <td nowrap align="right">PHP Version:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[php_version]%%</strong></td>
</tr><tr> 
	<td nowrap align="right">Apache Version:</td>
    <td nowrap>&nbsp;</td>
    <td nowrap><strong>%%[apache_version]%%</strong></td>
</tr>
</table>
<br/>

