<!-- cal_week.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<table width="98%" summary="">
<tr>

<td>
	<a href='cal_week.php?cal_date=%%[prev_week]%%&screen=%%[screen]%%&user_id=%%[user_id]%%'>&lt;&nbsp;Previous Week</a>
</td>

<td align=center>
	%%[cal_tabs]%%

<td><a href='cal_week.php?cal_date=%%[next_week]%%&screen=%%[screen]%%&user_id=%%[user_id]%%'>Next Week&nbsp;&gt;</a></td>
</td>
<td>
        <form action="cal_week.php" method="get">
                Go to date:
                <input type="text" name="cal_date" size="10" maxlength="10" tabindex="2"/>
                <input type="hidden" name="user_id" value="%%[user_id]%%">
                <input type="submit" value="Go"/>
        </form>
</td>

</tr>
</table>
  %%[calendar_table]%%
<p>

<table summary="">
<tr valign="top">

<td nowrap class="de">

<h2 class="hdt">Actions</h2>
<span class="fas fa-angle-right"></span>
Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=K">New Tickle</a><br/>
<span class="fas fa-angle-right"></span>
Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=T">New Time Slip</a>
(<a href="%%[base_url]%%/timer.php" onclick="popUp({url:this.href,name:'popUpTimer'});return false;">Popup Timer</a>)<br/>
<span class="fas fa-angle-right"></span>
Add <a href="%%[base_url]%%/activity.php?screen=compose&completed=0&act_date=%%[cal_date]%%">New Calendar Entry</a><br/>
<span class="fas fa-angle-right"></span>
Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=L">New LSC Other Services Record</a><br/>
<a href="%%[base_url]%%/ical-subscribe.php">Subscribe to Calendar (iCal)</a>

<form>
<span class="fas fa-angle-right"></span>
View Another Person's Calendar:<br/>
<input type="hidden" name="cal_date" value="%%[cal_date]%%"/>
<input type="hidden" name="screen" value="%%[screen]%%"/>
%%[user_id menu]%%<br/><br/>
<input type="submit" value="View" class="save" tabindex="1"/>
</form>

</td>

<td>&nbsp;&nbsp;</td>

<td><h2 class="hdt">Time/Funding Breakdown</h2><p>%%[funding_table]%%</td>

</tr>
</table>

<script type="text/javascript" language="JavaScript" src="%%[base_url]%%/js/popUp.js"></script>
<script>
  $('#calendarSubmenu').toggleClass('show');
</script>
