<!-- cal_day.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<script LANGUAGE="JavaScript" type="text/javascript">
function checkAll()
{
	var i = %%[i_value]%%;
	
	for (j = 0; j < i; j++)
	{
		k = (j * 2);
		eval("document.act_update_bulk.elements[" + k + "].checked = true;");
	}
}

function uncheckAll()
{
	var i = %%[i_value]%%;
	
	for (j = 0; j < i; j++)
	{
		k = (j * 2);
		eval("document.act_update_bulk.elements[" + k + "].checked = false;");
	}
}
</script>

<div class="container-fluid">

	%%[cal_tabs]%%
</div>
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="cal_day.php?cal_date=%%[prev_date]%%&user_id=%%[user_id]%%">&laquo; Previous Day</a></li>
        <li class="page-item ml-md-auto">
        <form class="form-inline" action="cal_day.php" method="get">
                Go to date:
                <input class="form-control" type="text" name="cal_date" size="10" maxlength="10" tabindex="2"/>
                <input type="hidden" name="user_id" value="%%[user_id]%%">
                <input class="btn ocm-btn-primary" type="submit" value="Go"/>
        </form>
        </li>
  <li class="page-item ml-auto"><a class="page-link" href="cal_day.php?cal_date=%%[next_date]%%&user_id=%%[user_id]%%">Next Day &raquo;</a></li>
</ul>
<form action="dataops.php" method="post" name="act_update_bulk">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm"> 
%%[overdue_table]%%

<h2 class="hdt">Today's Pending Items</h2>
<p>%%[pending_table]%%
<br/>
<br/>

<h2 class="hdt">To Do List</h2>
<p>%%[todo_table]%%

<input type="hidden" name="act_date" value="%%[cal_date]%%"/>
<input type="hidden" name="action" value="update_activity_bulk"/>

    <div>
<input class="btn ocm-btn-primary" type="submit" value="Update" class="save"/>
        

[ <a href="javascript:checkAll()">Check All</a> / 
<a href="javascript:uncheckAll()">Uncheck All</a> ]
	</div>

</form>
</div>
<div class="col-sm">
	<h2 class="hdt">Actions</h2>
		<span class="fas fa-angle-right"></span>
		Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=K">New Tickle</a><br/>
		
                <span class="fas fa-angle-right"></span>
		Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=T">New Time Slip</a>
		(<a href="%%[base_url]%%/timer.php" onclick="popUp({url:this.href,name:'popUpTimer'});return false;">Popup Timer</a>)<br/>

		<span class="fas fa-angle-right"></span>
		Add <a href="%%[base_url]%%/activity.php?screen=compose&completed=0&act_date=%%[cal_date]%%">New Calendar Entry</a><br/>

		<span class="fas fa-angle-right"></span>
		Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=L">New LSC Other Services Record</a><br/>

		
		
		<form>
		<span class="fas fa-angle-right"></span>
		View Another Person's Calendar:<br/>
		<input type="hidden" name="cal_date" value="%%[cal_date]%%"/>
		<input type="hidden" name="screen" value="%%[screen]%%"/>
		%%[user_id menu]%%<br/><br/>
		<input class="btn ocm-btn-primary" type="submit" value="View" class="save" tabindex="1"/>
		</form>
    </div>
  </div>
</div>
<br/>

	<h2 class="hdt">Time Slip and Activity Log for %%[pretty_cal_date]%% (%%[total_hours]%% hours)</h2>
	<p>%%[completed_table]%%


	<h2 class="hdt">Time/Funding Breakdown</h2>
	<p>%%[funding_table]%%


<script type="text/javascript" language="JavaScript" src="%%[base_url]%%/js/popUp.js"></script>
<script>
  $('#calendarSubmenu').toggleClass('show');
</script>
