<!-- cal_adv.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<div style="" id="form_container">
	<div style="" id="form_header">
		<div id="case_tabs">%%[cal_tabs]%%</div>
		<form>
	</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
                Staff:<br/>
                %%[user_list,user_list,width=185]%%
                <br/>
                <br/>
                Pro Bono Attorneys:<br/>
                %%[pba_list,pba_list,width=185]%%
                <input class="btn btn-primary" type="submit" value="View" class="save"> 
    </div>
    <div class="col">
                Starting Date:<br/>
                %%[start_date,input_date_selector]%%<br/>
                End Date:<br/>
                %%[end_date,input_date_selector]%%<br/>
                Category:<sup>[<a href="system-menus.php?action=edit_menu&menu_name=category">?</a>]</sup><br/> 
                %%[category,input_text]%%<br/>
                Completed:<br/>
                %%[completed,yes_no]%%<br/>
                Case Number:<br/>
                %%[number,input_text]%%<br/>
    </div>
    <div class="col">
                Office:<br/>
                %%[office,office]%%<br/>
                Act. Type:<br/>
                %%[act_type,act_type]%%<br/>
                Funding:<br/>
                %%[funding,funding]%%<br/>
                Limit # of Rows:<br/>
                %%[row_limit,limit]%%<br/>
                Sorting Order:<br/>
                %%[sort_order,sort_order,radio,vertical]%%
    </div>
    <div class="col">
                <h2>Actions</h2>
                <span class="fas fa-angle-right"></span>
                Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=K">New Tickle</a><br/>
                <span class="fas fa-angle-right"></span>
                Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=T">New Time Slip</a>
                (<a href="%%[base_url]%%/timer.php" onclick="popUp({url:this.href,name:'popUpTimer'});return false;">Popup Timer</a>)<br/>
                <span class="fas fa-angle-right"></span>
                Add <a href="%%[base_url]%%/activity.php?screen=compose&completed=0&act_date=%%[cal_date]%%">New Calendar Entry</a><br/>
                <span class="fas fa-angle-right"></span>
                Add <a href="%%[base_url]%%/activity.php?screen=compose&act_date=%%[cal_date]%%&act_type=L">New LSC Other Services Record</a><br/>
                <span class="fas fa-angle-right"></span>
                <a href="%%[base_url]%%/ical-subscribe.php">Subscribe to Calendar (iCal)</a>
    </div>
  </div>
</div>

	<div style="clear:both;" id="form_footer">
		<br/>
		<input type="hidden" name="action" value="run_report">
		</form>
	</div>
</div>
<hr>
<h2>Activity Listing</h2>
%%[time_list]%%


%%[popUp.js,javascript]%%
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
%%[checkbox_list.js,javascript]%%


%%[begin:flex_header]%%
<table cellspacing="0" cellpadding="4">
<tr>
	<th></th>
	<th>Type</th>
	<th>Time</th>
	<th>Summary</th>
	<th>Case</th>
	<th>Funding</th>
	<th>Category</th>
	<th>Office</th>
	<th>Hours</th>
	<th>Cmplt.</th>
</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
<tr>
	<td>%%[count]%%</td>
	<td>%%[act_type]%%</td>
	<td><a href="%%[base_url]%%/activity.php?act_id=%%[act_id]%%">%%[time]%%</a></td>
	<td>%%[summary]%%</td>
	<td>%%[number]%%</td>
	<td>%%[funding]%%</td>
	<td>%%[category]%%</td>
	<td>%%[office]%%</td>
	<td>%%[hours]%%</td>
	<td>%%[completed]%%</td>
</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>

%%[end:flex_footer]%%
<script>
  $('#calendarSubmenu').toggleClass('show');
</script>
