<!-- case-info.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2 class="hdt">Administrative Information</h2>
<form action="%%[base_url]%%/ops/update_case.php" method="post" name="ws">
<div class="row"> 
  <div class="col-sm">
  	Case Number<!-- [<a onClick="set_auto()" tabindex=1>New</a>] -->:<br/>
  	%%[number,input_text,class=form-control]%%<br/>
	Case Status:<br/>
	%%[status,case_status,class=form-control]%%<br/>
	Date Opened:<br/>
	%%[open_date,input_date_selector,class=form-control]%%<br/>
    Office:<br/>
	%%[office,office,class=form-control]%%
  </div>
  <div class="col-sm">
	Primary Counsel (<a href="%%[base_url]%%/assign_atty.php?case_id=%%[case_id]%%&field=user_id">assign</a>):<br/>
	%%[user_id,case_handlers,class=form-control]%%<br/>
	Co-counsel #1 (<a href="%%[base_url]%%/assign_atty.php?case_id=%%[case_id]%%&field=cocounsel1">assign</a>):<br/>
	%%[cocounsel1,case_handlers,class=form-control]%%<br/>
	Co-counsel #2 (<a href="%%[base_url]%%/assign_atty.php?case_id=%%[case_id]%%&field=cocounsel2">assign</a>):<br/>
	%%[cocounsel2,case_handlers,class=form-control]%%<br/>
	Undup. Service:<br/>
    %%[undup,undup,class=form-control]%%
  </div>
  <div class="col-sm">
    %%[lsc_problem_menu]%%<br/>
    Special Problem Code:<br/>
    %%[sp_problem,sp_problem,class=form-control]%%<br/>
    Funding:<br/>
    %%[funding,funding,class=form-control]%%<br/>
    Primary Client:<br/>
    %%[client_id,case_contacts_menu,relation_code=1,class=form-control]%%
    </div>
</div>

<h2>Closing Information</h2>
%%[lsc_rules_notice]%%
    <div class="row"> 
      <div class="col-sm">
      	Date Closed: <a onClick="set_close()" href="#dc" tabindex=1>[today]</a><br/>
        %%[close_date,input_date_selector]%%<br/>
        
        %%[lsc_close_code_menu]%%
      </div>
      <div class="col-sm">
      	Reason Rejected:<br/>
        %%[reject_code,reject_code]%% <br/>
        %%[good_story,yes_no,checkbox,label=Good Story]%%
      </div>
      <div class="col-sm">
      	Destroy Date:<br/>
      	%%[destroy_date,input_date_selector]%%<br/>
      	Outcome:<br/>
        %%[outcome,outcome]%%
      </div>
    </div>
  
<h2>Extra Information</h2>
    <div class="row">
      <div class="col-sm">
		County:<br/>
        %%[case_county,input_text]%%<br/>
		ZIP Code:<br/>
        %%[case_zip,input_text]%%<br/>
      </div>
      <div class="col-sm">
      	Intake Screener:<br/>
      	<input class="form-control" type=text name="dummy1" disabled value="%%[screener_name]%%"/><br/>
      	Record Creation Date:<br/>
      	<input class="form-control" type=text name="dummy1" disabled value="%%[created]%%"/><br/>
      </div>
      <div class="col-sm">
      	Record Last Edited Date:<br/>
      	<input class="form-control" type=text name="dummy1" disabled value="%%[last_changed]%%"/><br/>
      </div>
    </div>
  
<input type="hidden" name="screen" value="info"/>
%%[case_id,input_hidden]%%

<p>
	<br/>
	<input type=submit name="update_case" value="Save" tabindex=1 class="save" accesskey="s" />
</p>
<!--
<input type=submit name="update_case" value="Save, Next Tab" tabindex="1" class="save" onclick="document.forms.ws.screen.value='pb';"><br/><br/>
-->
</form>

%%[case-info.js,javascript,parse]%%
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
%%[problem-server-ajax.js,javascript]%%
