<!-- case_list.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<!-- 2012 point release update appending url so user will return to case listing instead of case when updating case related activity from case listing -->    
<p>
	Case List Mode:
	&nbsp;&nbsp;
	<span class="fas fa-angle-right"></span>
	<a href="%%[base_url]%%/case_list.php?mode=open">My Open Cases</a>
	&nbsp;&nbsp;
	<span class="fas fa-angle-right"></span>
	<a href="%%[base_url]%%/case_list.php?mode=closed">My Closed Cases</a>
	&nbsp;&nbsp;
        <span class="fas fa-angle-right"></span>
	<a href="%%[base_url]%%/case_list.php?mode=all">All Open and Closed Cases</a>
	&nbsp;&nbsp;
        <span class="fas fa-angle-right"></span>
	<a href="%%[base_url]%%/case_list.php">More Options</a>
</p>
%%[begin:cl_form]%%
<form name="form1" method="get" action="%%[base_url]%%/case_list.php">
<table id="middle-content" width="95%" summary="Case List Screen">
	<tr>
		<td rowspan="2">
		    Show...<br/>
		    %%[show_cases vradio]%%
		</td>
		<td class="clf">
		  	<label for="client_name">Client Name</label><br/>
		    <input type="text" name="client_name" id="client_name" class="side-input" value="%%[client_name]%%" tabindex="1"/>
		</td>
		<td class="clf">
		    <label for="user_id">Counsel</label><br/>
		    %%[user_id menu]%%
		</td>
		<td class="clf">
		    <label for="status">Status</label><br/>
		    %%[status menu source=case_status]%%
		</td>
		<td class="clf">
		    <label for="funding">Funding</label><br/>
		    %%[funding menu]%%
		</td>
		<td class="clf">
		    <label for="office">Office</label><br/>
		    %%[office menu]%%
		</td>
	</tr>
	<tr>
	    <td class="clf">
		    <label for="opened_before">Opened before...</label><br/>
		    <input type="text" name="opened_before" id="opened_before" class="side-input" value="%%[opened_before]%%" maxlength="10" tabindex="1"/>
		</td>
	    <td class="clf">
		    <label for="closed_before">Closed before...</label><br/>
		    <input type="text" name="closed_before" id="closed_before" class="side-input" value="%%[closed_before]%%" maxlength="10" tabindex="1"/>
		</td>
	    <td class="clf">
		    <label for="opened_on_after">Opened on or after...</label><br/>
		    <input type="text" name="opened_on_after" id="opened_on_after" class="side-input" value="%%[opened_on_after]%%" maxlength="10" tabindex="1"/>
		</td>
	    <td class="clf">
		    <label for="closed_on_after">Closed on or after...</label><br/>
		    <input type="text" name="closed_on_after" id="closed_on_after" class="side-input" value="%%[closed_on_after]%%" maxlength="10" tabindex="1"/>
		</td>
		<td class="clf">
		    <input type="submit" value="Search Again" class="side-input" tabindex="1"/>
		</td>
	</tr>
</form>
</table>
<script><!--
document.form1.client_name.focus();
//-->
</script>
%%[end:cl_form]%%
%%[begin:flex_header]%%
<table class="table table-striped">
<tbody>
  <tr>
    <th scope="col"><a href="%%[number_url]%%">Case Number</a>%%[number_img]%%</th>
    <th scope="col"><a href="%%[client_name_url]%%">Client Name</a>%%[client_name_img]%%</th>
    <th scope="col"><a href="%%[status_url]%%">Status</a>%%[status_img]%%</th>
    <th scope="col"><a href="%%[user_id_url]%%">Staff</a>%%[user_id_img]%%</th>
    <th scope="col"><a href="%%[office_url]%%">Office</a>%%[office_img]%%</th>
    <th scope="col"><a href="%%[problem_url]%%">Code</a>%%[problem_img]%%</th>
    <th scope="col"><a href="%%[open_date_url]%%">Opened</a>%%[open_date_img]%%</th>
    <th scope="col"><a href="%%[close_date_url]%%">Closed</a>%%[close_date_img]%%</th>
    <th scope="col"><a href="%%[funding_url]%%">Funding</a>%%[funding_img]%%</th>
    <th scope="col">Time</th>
  </tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
  <tr class="row%%[row_class]%%">
    <td>
    	<a href="%%[base_url]%%/case.php?case_id=%%[case_id]%%"%%[link_target]%%>%%[number]%%</a>%%[unread_sms]%%<br/>
    	<span style="color: %%[open_closed_color]%%;">%%[open_closed]%%</span>
    </td>
    <td><strong>%%[client_name]%%</strong></td>
    <td>%%[status text source=case_status]%%</td>
    <td>%%[user_id text]%%</td>
    <td>%%[office text]%%</td>
    <td>%%[problem]%%</td>
    <td>%%[open_date]%%</td>
    <td>%%[close_date]%%</td>
    <td>%%[funding]%%</td>
    <td>
		<a class="btn btn-small" href="%%[base_url]%%/activity.php?screen=compose&case_id=%%[case_id]%%&funding=%%[funding]%%&number=%%[number]%%&act_type=T&act_url=case_list.php">
		<i class="far fa-clock"></i></a>
    </td>
  </tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</tbody>
</table>
%%[end:flex_footer]%%
<br/>
<p class="text-center"><b>%%[total_cases]%%</b></p>
<script>
document.getElementById('caselist-nav-item').classList.add('active')
</script>
