<!-- case-pb.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Pro Bono Information</h2>
<form action="%%[base_url]%%/ops/update_case.php" method="POST" name="ws">
<div class="container-fluid">
<div class="row">
	<div class="col-sm">
        <div class="card card-body bg-light">
	Referral Date: <a href="%%[base_url]%%" onClick="set_ref_date();return false;">[today]</a><br/>
    %%[referral_date,input_date_selector]%%<br/>
    Date Closed: <a href="%%[base_url]%%" onClick="set_close();return false;">[today]</a><br/>
    %%[close_date,input_date_selector]%%<br/>
    %%[lsc_close_code_menu]%%
    <br/>
    <div class="card card-body bg-light">
    %%[thank_you_sent,yes_no,checkbox,label=Was a thank you sent?]%%<br/>
    Date thank you was sent:<br/>
    %%[date_sent,input_date_selector]%%<br/>
    </div>
    %%[payment_received,yes_no,checkbox,label=Was payment received?]%%<br/>
    <!--%%[reduced_fee,yes_no,checkbox,label=Reduced fee?]%%<br/>
    %%[retainer_on_file,yes_no,checkbox,label=Retainer on file?]%%<br/>
    %%[case_is_pro_bono,yes_no,checkbox,label=Pro Bono?]%%<br/>
    Total Attorney Hours:<br/>
    %%[pb_attorney_hrs,input_text]%%<br/>
    Normal Attorney Fee:<br/>
    <span class="maskt">$
    %%[atty_fee_normal,input_text,onblur=calcDifference();,class=maskf]%%
    </span><br/>
    Fee Charged to Client:<br/>
    <span class="maskt">$
    %%[atty_fee_to_client,input_text,onblur=calcDifference();,class=maskf]%%
    </span><br/>
    Amount Saved for Client:<br/>
    <span class="maskt">$
    %%[client_savings,input_text,class=maskf]%% 
    </span><br/> -->
        </div>
	</div>
	<div class="col-sm">
	<table class="table table-striped">
	<tr>
		<th scope="col">Assigned Pro Bono Atty</th>
		<th scope="col">Time</th>
		%%[other_services_table_header]%%
	</tr><tr>
		<td>
		#1: <a href="%%[base_url]%%/pb_attorneys.php?screen=edit_pb&pba_id=%%[pba_id1]%%">%%[pba_id1,pb_attorneys,text_menu]%%</a> [<a href="%%[base_url]%%/assign_pba.php?screen=pb&case_id=%%[case_id]%%&field=pba_id1">%%[pba_id1_link]%%</a>] 	
		%%[pba_id1_remove_link]%%
		</td>
		<td nowrap>
		%%[pba_id1_time]%%
		</td>
		%%[pba_id1_lsc]%%
	</tr><tr>
		<td>
		#2: <a href="%%[base_url]%%/pb_attorneys.php?screen=edit_pb&pba_id=%%[pba_id2]%%">%%[pba_id2,pb_attorneys,text_menu]%%</a> [<a href="%%[base_url]%%/assign_pba.php?screen=pb&case_id=%%[case_id]%%&field=pba_id2">%%[pba_id2_link]%%</a>]
		%%[pba_id2_remove_link]%%
		</td>
		<td nowrap>
		%%[pba_id2_time]%%
		</td>
		%%[pba_id2_lsc]%%
	</tr><tr>
		<td>
		#3: <a href="%%[base_url]%%/pb_attorneys.php?screen=edit_pb&pba_id=%%[pba_id1]%%">%%[pba_id3,pb_attorneys,text_menu]%%</a> [<a href="%%[base_url]%%/assign_pba.php?screen=pb&case_id=%%[case_id]%%&field=pba_id3">%%[pba_id3_link]%%</a>]
		%%[pba_id3_remove_link]%%
		</td>
		<td nowrap>
		%%[pba_id3_time]%%
		</td>
		%%[pba_id3_lsc]%%
	</tr>
	</table>
	</div>
</tr>
</div>
</div>
<br/>
<input type="hidden" name="screen" value="pb">
%%[case_id,input_hidden]%%
<input type="submit" value="Save" tabindex="1" accesskey="s" class="save">
</form>

%%[case-pb.js,javascript,parse]%%
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%


