<!-- case-conflict.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:flex_header]%%
		  <table class="table table-striped">
		    <tbody>
		      <tr>
		        <th class="col">Issue</th>
		        <th class="col">Case Number</th>
		        <th class="col">Problem</th>
		        <th class="col">Status</th>
		      </tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
		      <tr>
		        <td>
		        	<strong><a href="%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%">%%[conflict_name]%%</a></strong> 
		        	was a(n) %%[role]%%<br/>
					DoB: <strong>%%[birth_date]%%</strong><br/>
					SSN: <strong>%%[ssn']%%</strong><br/>
					Address:  <strong>%%[address]%%</strong>
				</td>
		        <td><a href="%%[base_url]%%/case.php?case_id=%%[case_id]%%">%%[number]%%</a></td>
		        <td>%%[problem]%%</td>
		        <td>%%[status text source=case_status]%%</td>
		      </tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
		    </tbody>
		  </table>
%%[end:flex_footer]%%


<form action="%%[base_url]%%/ops/update_case.php" method=POST name=ws>
<p class="de">Does this case have conflicts?<br/> %%[conflicts,yes_no]%% <br/>

<input type="hidden" name="case_id" value="%%[case_id]%%">
<input type="hidden" name="screen" value="conflict">
</p>
<p>
	<input type="submit" value="Save" tabindex="1" class="save" accesskey="s">
</p>
<!--
<input type=submit name="update_case" value="Save, Next Tab" tabindex="1" class="save" onclick="document.forms.ws.screen.value='elig';">
-->

</form>
