<!-- case-da.html - Authored February 2020 By Metatheria, LLC | https://metatheria.solutions License: The Unlicense. -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div id="dablock" class="dabody dajs-embedded" style="border-style: solid; border-width: 1px; border-color: #777"></div>
    </div>
    <div class="col-sm-6">
      <br><br><br><br>
      <form action="/ocm/cms/ops/update_case.php" method="post" name="ws">
        <div class="form-group">
          <label for="adults">Number of Adults</label>
          <input type="text" id="adults" name="adults" value="%%[adults]%%" tabindex="1" onchange="ph_change();" class="form-control">
          <label for="children">Number of Children</label>
          <input type="text" id="children" name="children" value="%%[children]%%" tabindex="1" onchange="ph_change();" class="form-control">
        </div>
        <input type="hidden" name="screen" value="da">
        <input type="hidden" name="case_id" value="%%[case_id]%%">
        <input type="submit" name="update_case" value="Save" tabindex="2" class="btn btn-success" accesskey="s">
      </form>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-dark" onclick="sendHelped()" style="margin-left: 30px; margin-top: 30px;">Send to Pika Fields</button>

<a href="%%[base_url]%%/services/da-api.php?i=docassemble.playground1%3AIRS2848.yml&full_name=%%[full_name]%%" type="button" class="btn btn-outline-dark" style="margin-left: 30px; margin-top:30px">Download IRS 2848</a>   
<a href="%%[base_url]%%/services/da-api.php?i=docassemble.playground1%3AIRS2848.yml&full_name=%%[full_name]%%&inline=true" type="button" class="btn btn-outline-dark" style="margin-left: 30px; margin-top:30px" target="_blank">Open IRS 2848 in a new tab</a>


    <script src="https://docassemble.metatheria.solutions/static/app/bundle.js?v=0.5.80"></script>
    <script src="https://docassemble.metatheria.solutions/interview?i=docassemble.Financial%3Adata%2Fquestions%2FFinancial.yml&js_target=dablock"></script>


<script>
function sendHelped() {
document.getElementById('adults').value = document.getElementById('YWR1bHRz').value;
document.getElementById('children').value = document.getElementById('Y2hpbGRyZW4').value;
}
</script>

