<!-- case-ml.html - Authored February 2020 By Metatheria, LLC | https://metatheria.solutions. License: The Unlicense. -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2>Legal Issue Plaintext</h2>
      <textarea id="plaintext-problem" class="form-control"></textarea>
    </div>
    <div class="col-sm">
      <h2>NSMI Classification</h2>
        <textarea id="classification" class="form-control"></textarea>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-dark" onclick="classify()" style="margin-left: 30px; margin-top: 30px;">Classify</button>
   




<script>
function classify() {
var plaintext = document.getElementById('plaintext-problem').value;
$.ajax('%%[base_url]%%/services/classifier.php', {
    method: 'POST',
    data: {
        text: plaintext
    }
})
.then(
    function success(classificationtext) {
            console.log(classificationtext);
            var classificationobject = JSON.parse(classificationtext);
            console.log(classificationobject);
            try {
            document.getElementById('classification').value = classificationobject["labels"][0]["name"];
            }
            catch (err) {
            document.getElementById('classification').value = "could not classify";
            }
    },

    function fail(data, status) {
        alert('Request failed.  Returned status of ' + status);
    }
);
}
</script>

