<!-- contact_full.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:contact]%%
<form action="%%[form_action]%%" name=fc method="post">

	<div class="row">
		<div class="col">%%[preamble]%%</div>
		<div class="col">%%[aliases]%%</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				First Name:<br/>
				<input class="form-control" type=text name=first_name value="%%[first_name]%%" tabindex=1/>
				<br/>
				Middle Name:<br/>
				<input class="form-control" type=text name=middle_name value="%%[middle_name]%%" tabindex=1/>
				<br/>
				Last (or Org.) Name:<br/>
				<input class="form-control" type=text name=last_name value="%%[last_name]%%" tabindex=1/>
				<br/>
				Jr., Sr., etc:<br/>
				<input class="form-control" type=text name=extra_name value="%%[extra_name]%%" tabindex=1/>
				<br/>
				DoB (MM/DD/YYYY):<br/>
				<input class="form-control" type=text name="birth_date" value="%%[birth_date]%%" tabindex=1/>
				<br/>  
				Phone:<br/>
				<span class="maskt">
				(<input class="form-control" type=text name="area_code" value="%%[area_code]%%" onkeyup="pika_area_code(this, 3, 'phone');" style="width: 2em;" maxlength="3" tabindex=1 class=maskf>) 
				<input class="form-control" type=text name="phone" value="%%[phone]%%" onkeyup="pika_phone(this);" style="width: 10.5em;" maxlength="8" tabindex="1" class="maskf">
				</span>
				<br/>
				<input class="form-control" type=text name="phone_notes" value="%%[phone_notes]%%" size=22 tabindex=1/>
				<br/>
				Alternate Phone:<br/>
				<span class="maskt" nowrap>
				(<input class="form-control" type=text name="area_code_alt" value="%%[area_code_alt]%%" onkeyup="pika_area_code(this, 3, 'phone_alt');" style="width: 2em;" maxlength="3" tabindex=1 class=maskf>) 
				<input class="form-control" type=text name="phone_alt" value="%%[phone_alt]%%" onkeyup="pika_phone(this);" style="width: 10.5em;" maxlength="8" tabindex="1" class="maskf">
				</span>
				<br/>
				<input class="form-control" type=text name="phone_notes_alt" value="%%[phone_notes_alt]%%" size=22 tabindex=1/>
				<br/>
			</p>
		</div>
		<div class="col">
			<p>
			Address:<br/>
			<input class="form-control" type=text name="address" value="%%[address]%%" tabindex=1/>
			<br/>
			Address 2:<br/>
			<input class="form-control" type=text name="address2" value="%%[address2]%%" tabindex=1/>
			<br/>
			City, State:<br/>
			%%[city,input_text,class=form-control]%%%%[state,input_text,class=form-control]%%
			<br/>
			ZIP Code, County:<br/>
			%%[zip,input_text,onblur=zipcode_lookup(this.value),class=form-control]%%%%[county,input_text,class=form-control]%%
			<br/>
			Email Address: <br/>
			<input class="form-control" type=text name="email" value="%%[email]%%" tabindex=1/>
			<br/>
			%%[ssn,input_ssn]%%
			Gender:<br/>
			%%[gender,gender]%%<br/>
			<!--
			What is your gender?<br>
			%[c4a_gender,c4a_gender]%<br>
			Not listed, please specify:<br>
			%[c4a_gender_notes,input_text]%<br>
			What is your sex at birth?<br>
			%[c4a_sex_at_birth,c4a_sex_at_birth]%<br>
			How do you describe your sexual <br>orientation or sexual identity?<br>
			%[c4a_identity,c4a_identity]%<br>
			Not listed, please specify:<br>
			%[c4a_identity_notes,input_text]%<br>
			-->
			Ethnicity:<br/>
			%%[ethnicity,ethnicity]%% <br/>
			</p>
	  	</div>
	  	<div class="col">
			Language:<br/>
			%%[language,language]%%<br/>
			Residence:<br/>
			%%[residence,residence]%%<br/>
			Marital Status:<br/>
			%%[marital,marital]%% <br/>
			%%[disabled,yes_no,checkbox,label=Disabled]%%<br/>
			%%[frail,yes_no,checkbox,label=Frail/Needy]%%<br/>
			Notes:<br/>
			<textarea class="form-control" name="notes" rows=10 tabindex=1>%%[notes]%%</textarea>
	  	</div>
		<div class="col">
			<h2>Aliases</h2>
			%%[alias_list]%%
			<p>
				<span class="fas fa-angle-right"></span>
				<a href="%%[base_url]%%/alias.php?contact_id=%%[contact_id]%%">
				Edit Aliases
				</a>
			</p>
			<h2>Actions</h2>
			<p>
			<span class="fas fa-angle-right"></span>
			<a href="%%[base_url]%%/merge_contacts.php?contact_id=%%[contact_id]%%">
			Merge Duplicates Records for this Contact</a><br/>
			<span class="fas fa-angle-right"></span>
			<a href="%%[base_url]%%/ops/new_case.php?thiscon=%%[contact_id]%%">
			Create a New Case for this Contact</a>
			</p>
		</div>
	</div>

%%[contact_id,input_hidden]%%
%%[case_id,input_hidden]%%
%%[screen_id,input_hidden]%%
%%[intake_id,input_hidden]%%
%%[relation_code,input_hidden]%%
%%[con_url,input_hidden]%%
%%[screen,input_hidden]%%
<input type=hidden name=action value="%%[action_name]%%"/>
  	
<p>
	<input type=submit value="%%[submit_label]%%" tabindex=1 name="submit2" accesskey="s" class="save"/>
</p>

</form>

<h2>Caselist for %%[full_name]%%</h2>
%%[case_list]%%
<!--
<h2>Intake List for %%[full_name]%%</h2>
%%[intake_list]%%
-->

%%[ajax_init.js,javascript]%%
%%[zip-server-ajax.js,javascript,parse]%%
%%[contact_full.js,javascript]%%

%%[end:contact]%%

%%[begin:alias]%%
Name:  <strong>%%[full_name]%%</strong><br/>
SSN:  <strong>%%[ssn]%%</strong><br/>
ID:  <strong>%%[state_d]%%</strong>
%%[end:alias]%%


%%[begin:flex_header]%%
      <table class="table table-striped">
        <thead>
	<tr>
		<th scope="col">Role</th>
		<th scope="col">Case Number</th>
		<th scope="col">Atty.</th>
		<th scope="col">Office</th>
		<th scope="col">Open Date</th>
		<th scope="col">Close Date</th>
		<th scope="col">Closing Code</th>
		<th scope="col">Status</th>
		<th scope="col">Code</th>
	</tr>
        </thead>
	%%[end:flex_header]%%
        <tbody>
	%%[begin:flex_row]%%
	<tr>
		<td>%%[role]%%</td>
		<td><a href="%%[base_url]%%/case.php?case_id=%%[case_id]%%">%%[number]%%</a></td>
		<td>%%[atty_name]%%</td>
		<td>%%[office text]%%</td>
		<td>%%[open_date]%%</td>
		<td>%%[close_date]%%</td>
		<td>%%[close_code text]%%</td>
		<td>%%[status text source=case_status]%%</td>
		<td>%%[problem]%%</td>
	</tr>
	%%[end:flex_row]%%
        </tbody>
	%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%
%%[begin:intake_header]%%
	<tr>
		<th scope="col">Intake ID</th>
		<th scope="col">Income</th>
		<th scope="col">Assets</th>
		<th scope="col">% of Poverty</th>
		<th scope="col">Citizenship</th>
	</tr>
%%[end:intake_header]%%
%%[begin:intake_row]%%
	<tr>
		<td><a href="%%[base_url]%%/intakes.php/%%[intake_id]%%/">%%[intake_id]%%</a></td>
		<td>$%%[income]%%</td>
		<td>$%%[assets]%%</td>
		<td>%%[poverty]%% %</td>
		<td>%%[citizen text]%%</td>
	</tr>
%%[end:intake_row]%%
%%[begin:intake_footer]%%
<br/>
%%[end:intake_footer]%%



