<!-- home.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<!-- page content-->
<div id="motdcontent">
	<h2>Message Board</h2>
	%%[begin:motd]%%
	<div id="motd">
		<strong>%%[title]%%</strong>
		<small>By %%[full_name]%%</small>
		<div id="motd-content-%%[motd_id]%%" style="display:none">
		%%[content]%% ... (<i><a href="#" onclick="toggleMotd(%%[motd_id]%%); return false;">Hide Full Text</a></i>)
		</div>
		<div id="motd-summary-%%[motd_id]%%">
		%%[summary_content]%%
		</div>
	</div>
	<br/>
	%%[end:motd]%%
	
</div>
<script>
document.getElementById('dashboard-nav-item').classList.add('active');
</script>
