<!-- merge_contacts.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Possible duplicates of %%[contact_name]%%</h2>
<form action="%%[base_url]%%/merge_contacts.php" method="GET">
%%[contact_list]%%

<br/><br/>
This screen allows you to merge duplicate contact records.  Once you
have determined which records are duplicates and need to be merged, check their box
and hit the <code>Merge</code> button to merge them with the contact record at the
top of the list.<br/>
<br/>
<i>Note that any data in the duplicate records is lost when they are merged.
You may want to paste any important information into notes field of the record
they are being merged into before actually performing the merge.</i>
<br/><br/>
<input type=submit value=Merge>
%%[contact_id,input_hidden]%%
<input type="hidden" name="action" value="merge" />
</form>

%%[begin:flex_header]%%
<table class="table table-striped">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Name</th>
		<th scope="col">Phone</th>
		<th scope="col">Alt. Phone</th>
		<th scope="col">Address</th>
		<th scope="col">DOB</th>
		<th scope="col">SSN</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
	<tr>
		<td>%%[selected_checkbox]%%</td>
		<td>%%[full_name]%%</td>
		<td>%%[full_phone]%%</td>
		<td>%%[full_alt_phone]%%</td>
		<td>%%[full_address]%%</td>
		<td>%%[birth_date]%%</td>
		<td>%%[ssn]%%</td>
	</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%
