<!-- system-reset_counters.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<form action="%%[base_url]%%/system-reset_counters.php" method="POST">
<h2>Reset Counters</h2>
%%[counters_list]%%
<br/>
<input class="btn btn-primary" type="submit" name="reset" value="Reset Counters to Max #" />
%%[action,input_hidden]%%
</form>


%%[begin:flex_header]%%
<table class="table table-striped">
	<tr>
		<th scope="col">Counter</th>
		<th scope="col">#</th>
		<th scope="col">Max #</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
	<tr>
		<td>%%[id]%%</td>
		<td>%%[count]%%</td>
		<td>%%[max_count]%%</td>
	</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%
