<!-- system-settings.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[flags]%%
<form method="POST" autocomplete="off">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card card-body bg-light">
          <h2>Site Settings</h2>
          Program Name<br/>
          %%[owner_name,input_text]%%<br/>
          Branding<br>
          %%[branding,input_text]%%<br>
          Administrator Email<br/>
          %%[admin_email,input_text]%%<br/>
          Authentication Label<br/>
          %%[cookie_prefix,input_text]%%<br/>
          Time Keeping Round-off Interval (Minutes)<br/>
          %%[act_interval,input_text]%%<br/>
          Hours Ahead/Behind Server's Time Zone<br/>
          %%[time_zone_offset,time_zone_offset]%%<br/>
          Time Zone (Calendar)<br/>
          %%[time_zone,time_zone]%%<br/>
          <br/>
          %%[autofill_time_funding,yes_no,checkbox,label=Autofill Funding Code on Time Slips]%%<br>
          %%[autonumber_on_new_case,yes_no,checkbox,label=Autonumber Each New Case]%%<br/>
          %%[open_outcomes,yes_no,checkbox,label=Open Outcomes Tab when a Case is Closed]%%<br/>
          Activity Lock Max Days<br>
          %%[activity_lock_max_days,input_text]%%<br>
          <input type="hidden" name="multi_outcomes" value="1">
          %%[ca_iolta_outcomes,yes_no,checkbox,label=Collect CA IOLTA Economic Outcomes]%%<br/>
          <h2>&nbsp;</h2>
          Session Timeout in Minutes<br/>
          %%[session_timeout,input_text,default=120]%%<br/>
          Password Strength Restrictions:<br/>
          %%[pass_min_strength,pass_min_strength]%%<br/>
          Password Minimum Length:<br/>
          %%[pass_min_length,pass_min_length]%%<br/>
          Password Expiration Period<br />
          %%[password_expire,password_expire]%%<br/>
          <br/>
            %%[enable_system,yes_no,checkbox,label=Enable Logins]%%<br/>
            %%[force_https,yes_no,checkbox,label=Allow Only Secure (HTTPS) Logins]%%<br/>
            %%[enable_compression,yes_no,checkbox,label=Web Accelerator]%%<br/>
            %%[enable_benchmark,yes_no,checkbox,label=Benchmark]%%<br/>
        </div>
      </div>
      <div class="col">
        <div class="card card-body bg-light">
          <h2>Static Resources</h2> 
          <div class="card card-body bg-light">
            <h4>default.html template resources</h4>
            shortcut icon
            %%[shortcut_icon,input_text]%%
            apple-touch-icon
            %%[apple_touch_icon,input_text]%%
            icon 32x32
            %%[icon32x32,input_text]%%
            icon 16x16
            %%[icon16x16,input_text]%%
            manifest
            %%[manifest_setting,input_text]%%
            mask-icon
            %%[mask_icon,input_text]%%
            fontawesome script
            %%[fontawesome,input_text]%%
            bootstrap
            %%[bootstrap,input_text]%%
            docassemble app bundle css
            %%[da_bundle_css,input_text]%%
            docassemble playground custom css
            %%[da_playground_css,input_text]%%
            docassemble bundle js (or other jquery)
            %%[jquery_setting,input_text]%%
          </div>
        </div>
      </div>  
      <div class="col">
        <div class="card card-body bg-light">
          <h4>Docassemble Integration Settings</h4>
          Docassemble Server Base URL
          %%[docassemble_url,input_text]%%<br>
          Docassemble API Key
          %%[docassemble_key,input_text]%%<br>
        </div>
        <div class="row" style="margin-top:20px">
        </div>
        <div class="card card-body bg-light">
          <h4>Other Integration Settings</h4>
          JotForm GET Request Security Key
          %%[jotform_key,input_text]%%
          Suffolk IT Lab "Spot" Issue Spotter Key
          %%[spot_key,input_text]%%
        </div>
        <div class="row" style="margin-top:20px">
        </div>
        <div class="card card-body bg-light">
          <h2>Install Settings</h2>
          Web Site Base Path:<br/>
          <input class="form-control" type="text" name="dont_use_base_url" value="%%[base_url]%%" disabled>
          <br/>
          Base Directory for %%[branding]%% Files<br/>
          <input class="form-control" type="text" name="dont_use_base_directory" value="%%[base_directory]%%" disabled>
          <br/>
          <p>
          <em>Caution: These Are Dangerous!</em></p>
        </div>
        <div class="row" style="margin-top: 20px;"></div>
          <div class="card card-body bg-light">
            <h2>Database Settings</h2>
            Server Name<br/>
            <input class="form-control" type="text" name="dont_use_host" value="%%[db_host]%%" disabled>
            <br/>
            Database Name<br/>
            <input class="form-control" type="text" name="_dont_use_name" value="%%[db_name]%%" disabled><br>
            Username<br/>
            <input class="form-control" type="text" name="_dont_use_user" value="%%[db_user]%%" disabled><br>
            Password<br/>
            <input class="form-control" type="password" name="_dont_use_password" value="**********" disabled>
            <br/>
            <em>Caution: These Are Dangerous!</em><br/>
          </div>
        </div>
        <br/>
        %%[action,input_hidden,default=update]%%
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
    </div> 
    <div class="row">
      <div class="col">
        <input class="btn btn-danger" type="submit" name="gen" value="Save"  tabindex="1" />
      </div>
    </div>
</form>
