%%[begin:edit]%%
<div style="padding:5px;" id="form_container">
	<div style="" id="form_header">
		%%[flags]%%
		<h2>Default User Preferences</h2>
		<form method="POST">
	</div>
	<div style="float:left;padding:2px" id="form_col1" class="de">
	%%[prefs_form]%%
	</div>
	<div style="clear:both;" id="form_footer">
		<br/>
		%%[action,input_hidden,default=update_prefs]%%
		<input class="btn btn-primary" type="submit" name="gen" value="Save" class="save" tabindex="1" />
		</form>
	</div>
</div>
%%[end:edit]%%

