<!-- system-users.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:edit_user]%%
<form action="%%[base_url]%%/system-users.php" method="POST" autocomplete="off" name="form1">

<div class="container-fluid">
<div class="row">
	<div class="col-8"><h2>Edit %%[name,text_name]%% User Account</h2></div>
	<div class="col-4"><h2>Misc. User Account Information</h2></div>
</div><div class="row">
	<div class="col-8">
	Username:<br/>
	%%[username,input_text]%%<br/>
	Password:<br/>
	%%[password,input_password]%%<br/>
	<br/>
	<hr>
	</div><div class="col-4">
	User ID: <br/><strong>%%[user_id]%%</strong><br/>
	Last Known Network Address: <br/><strong>%%[last_addr]%%</strong><br/>
	Last Active: <br/><strong>%%[last_active]%%</strong><br/>
	</div>
</div><div class="row">
	<div class="col">
	First Name:<br/>
	%%[first_name,input_text]%%
	</div><div class="col">
	Middle Name:<br/>  
	%%[middle_name,input_text]%%
	</div>
	<div class="col">
	Last Name:<br/>  
	%%[last_name,input_text]%%
	</div><div class="col">
	Extra Name:<br/>  
	%%[extra_name,input_text]%%
	</div>
</div><div class="row">
	<div class="col">Description:<br/>
	%%[description,input_text,size=44]%%
	</div>
	<div class="col">Email Address:<br/>
	%%[email,input_text]%%
	</div>
      </div><div class="row">
        <div class="col">
	User Account Enabled: %%[enabled,yes_no,checkbox]%%
	</div>
	<div class="col">
	User is an Attorney: %%[attorney,attorney_status,noblank]%%
	</div><div class="col">
	Security Level: %%[group_id,groups,menu_no_blank]%%
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
	Address:<br/>
  	%%[address,input_text,placeholder=123 Fake Street]%%<br/>
  	%%[address2,input_text,placeholder=Apt. #101]%%<br/>
        </div>
        <div class="col">
          <div class="container">
            <div class="row">
        	<div class="col">City:<br>%%[city,input_text,size=14,class=city]%%</div>
                <div class="col">State:<br>%%[state,input_text,size=3,class=state]%%</div>
            </div>
            <div class="row">
	      <div class="col">Zip:<br>%%[zip,input_text,onblur=zipcode_lookup(this.value),size=5,class=zip]%%</div>
              <div class="col">County:<br>%%[county,input_text,size=12,class=county]%%</div>
            </div>
        </div>
	</div>
        <div class="col">
	Phone:<br/>
  	%%[phone_notes,input_text]%%<br/>
</div>
</div>
<div class="row">
	Misc. Notes: <br/>
	%%[notes,input_textarea,cols=18,rows=5]%%
</div>
<br/>
%%[user_id,input_hidden]%%
%%[action,input_hidden,default=update]%%
<input class="btn btn-primary" type=submit name=submit value="Save" tabindex=1>
</form>
<br/>
<!-- AMW -->
<fieldset id="p-suggestor">
	<legend>Password Suggestor</legend>
	<form name="suggest">
	<p>
		%%[p_method,p_method,radio,vertical]%%<br/>
		Length:
		%%[p_len,p_len,radio]%%<br/>
		<br/>
	</p><p>
		<button class="btn btn-info" type="button" onclick="make_password();">Suggest a New Password</button>
	</p><p>
		<input class="form-control" type="text" name="newpass" id="password-suggest" disabled />
	</p><p>
		<button class="btn btn-info" type="button" onclick="use_password('password');">Use This as My Password</button>
	</p>
	</form>
</fieldset>
<!-- End AMW -->

%%[ajax_init.js,javascript]%%
%%[zip-server-ajax.js,javascript,parse]%%
%%[passwordGenerator.js,javascript,parse]%%
%%[end:edit_user]%%


%%[begin:user_list]%%
<span class="fas fa-angle-right"></span>&nbsp;<a class="btn btn-outline-info btn-sm" href='%%[base_url]%%/system-users.php?action=edit'>Add New User</a>
<br/>
<div class="row" style="margin-top: 5px"></div>
<form method="GET">
<table class="table table-striped">
<tr>
	<td class="de">
	Enabled:<br/>
	%%[enabled,enabled]%%
	</td><td>
	Last Name:<br/>
	%%[last_name,input_text]%%
	</td><td class="de">
	Attorney Type:<br/>
	%%[attorney,attorney_status]%%
	</td><td class="de">
	Group:<br/>
	%%[group_id,groups]%%
	</td>
	<td>
	Firm:<br/>
	%%[firm,input_text]%%
	</td><td>
	City:<br/>
	%%[city,input_text]%%
	</td><td>
	County:<br/>
	%%[county,input_text]%%
	</td><td valign="bottom">
	<input class="btn btn-primary" type="submit" name="filter" value="Filter" />
	</td>
</tr>
</table>
%%[order_field,input_hidden]%%
%%[order,input_hidden]%%
</form>
%%[user_list]%%
<center><i><b>%%[row_count]%%</b> Users found</i></center>
%%[end:user_list]%%

%%[begin:flex_header]%%
<table class="table table-striped">
	<tbody>
	<tr>
		<th nowrap><a href="%%[name_url]%%">Name</a>%%[name_img]%%</th>
		<th nowrap><a href="%%[enabled_url]%%">Enabled</a>%%[enabled_img]%%</th>
		<th nowrap>Description</th>
		<th nowrap>E-mail</th>
		<th nowrap><a href="%%[username_url]%%">Username</a>%%[username_img]%%</th>
		<th nowrap><a href="%%[user_id_url]%%">User ID</a>%%[user_id_img]%%</th>
		<th nowrap><a href="%%[last_active_url]%%">Last Active</a>%%[last_active_img]%%</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
	<tr valign="top" class="%%[css_class]%%">
		<td><a class="btn btn-outline-secondary btn-sm" href="%%[base_url]%%/system-users.php?action=edit&user_id=%%[user_id]%%">%%[name]%%</a></td>
		<td>%%[enabled]%%</td>
		<td>%%[description]%%</td>
		<td>%%[email]%%</td>
		<td><a href="%%[base_url]%%/system-users.php?action=edit&user_id=%%[user_id]%%">%%[username]%%</a></td>
		<td><a href="%%[base_url]%%/system-users.php?action=edit&user_id=%%[user_id]%%">%%[user_id]%%</a></td>
		<td>%%[last_active]%%</td>	
	</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
	</tbody>
</table>
%%[end:flex_footer]%%
