<!-- timer.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:timer]%%
<form action="%%[base_url]%%/timer.php" name="clock" method="GET">
<div class="container-fluid">
	<div class="row">
    	<div class="col">
    	Summary (public):<br/>
		%%[summary,input_textarea,rows=1,cols=30]%%<br/>
		Notes (private):<br/>
		%%[notes,input_textarea,rows=10,cols=30]%%<br/>
		<span class="fas fa-angle-right"></span>
		<a href="javascript:toggleBox('demodiv',1);">Text Highlighting</a>
		%%[textFormat]%%	
    	</div>
    	<div class="col">
    	Start Time:<br/>
		%%[start,input_text]%%<br/>
    	Current Time:<br/>
		%%[current,input_text]%%<br/>
		Minutes Elapsed:<br/>
		%%[elapsed_mins,input_text]%%<br/>
		Type of Activity:<br/>
		%%[category,category]%%<br/>
		Case: %%[number]%%<br/>
		%%[new_case_menu]%%<br/>
		Funding Source:<br/>
		%%[funding,funding]%%<br/>
		</div>
	</div>
	<div class="row">
		<div class="col">
		%%[act_time,input_hidden]%%
		%%[elapsed_secs,input_hidden]%%
		%%[action,input_hidden]%%
		<input type=submit name="end" value="End" tabindex="1" class="btn btn-primary" accesskey="s">
		<input type=submit name="pause" value="Pause" tabindex="1" class="btn btn-outline-danger" accesskey="p">	
		</div>
	</div>
</div>

</form>

<!-- BEGIN: code from http://www.visonet.com/javascript/clock.html -->
<script language="JavaScript" type="text/javascript">

var timerID = null;
var timerRunning = false;

function round_extra(number,X) 
{
	// rounds number to X decimal places, defaults to 2
    X = (!X ? 2 : X);
	return Math.round(number*Math.pow(10,X))/Math.pow(10,X);
}

function stopclock() 
{
	if(timerRunning)
		clearTimeout(timerID);
    timerRunning = false;
}

function startclock() 
{
	stopclock();
	showtime();
}

function showtime () 
{
	var now = new Date();
	var hours = now.getHours();
	var minutes = now.getMinutes();
    var seconds = now.getSeconds()
    var timeValue = "" + ((hours >12) ? hours -12 :hours)
	var elapsedValue = document.clock.elapsed_secs.value++;
	
    timeValue += ((minutes < 10) ? ":0" : ":") + minutes
	//timeValue += ((seconds < 10) ? ":0" : ":") + seconds
    timeValue += (hours >= 12) ? " PM" : " AM"
    
	document.clock.current.value = timeValue;
	document.clock.elapsed_mins.value = Math.round(elapsedValue/60);
	
    timerID = setTimeout("showtime()",1000);
    timerRunning = true;
}

function currenttime () 
{
	var now = new Date();
	var hours = now.getHours();
	var minutes = now.getMinutes();
    var seconds = now.getSeconds()
    var timeValue = "" + ((hours >12) ? hours -12 :hours)
	
    timeValue += ((minutes < 10) ? ":0" : ":") + minutes
	// timeValue += ((seconds < 10) ? ":0" : ":") + seconds
    timeValue += (hours >= 12) ? " PM" : " AM"
    
	return timeValue;
}

</script>

<!-- END: code from http://www.visonet.com/javascript/clock.html -->

<script language="JavaScript" type="text/javascript">
<!--
document.clock.summary.focus();

startclock();
document.clock.start.value = currenttime();
//--> 
</script>

%%[textFormat.js,javascript]%%
%%[ajax_init.js,javascript]%%
%%[setFunding.js,javascript,parse]%%
%%[end:timer]%%

%%[begin:timer-pause]%%
<form action="%%[base_url]%%/timer.php" name="clock" method="GET">
<div class="container-fluid">
	<div class="row">
    	<div class="col">
    	Summary (public):<br/>
		%%[summary,input_textarea,rows=1,cols=30]%%<br/>
		Notes (private):<br/>
		%%[notes,input_textarea,rows=10,cols=30]%%<br/>
		<span class="fas fa-angle-right"></span>
		<a href="javascript:toggleBox('demodiv',1);">Text Highlighting</a>
		%%[textFormat]%%	
    	</div>
    	<div class="col">
    	Start Time:<br/>
		%%[start,input_text]%%<br/>
    	Current Time:<br/>
		%%[current,input_text]%%<br/>
		Minutes Elapsed:<br/>
		%%[elapsed_mins,input_text]%%<br/>
		Type of Activity:<br/>
		%%[category,category]%%<br/>
		Case: %%[number]%%<br/>
		%%[new_case_menu]%%<br/>
		Funding Source:<br/>
		%%[funding,funding]%%<br/>
		</div>
	</div>
	<div class="row">
		<div class="col">
		%%[act_time,input_hidden]%%
		%%[elapsed_secs,input_hidden]%%
		%%[action,input_hidden]%%
		<input type=submit name="end" value="End" tabindex="1" class="save" accesskey="s">
		<input type=submit name="unpause" value="Resume" tabindex="1" class="save" accesskey="r">	
		</div>
	</div>
</div>

</form>


<script language="JavaScript" type="text/javascript">
<!--
document.clock.summary.focus();

//--> 
</script>

%%[textFormat.js,javascript]%%
%%[ajax_init.js,javascript]%%
%%[setFunding.js,javascript,parse]%%
%%[end:timer-pause]%%


%%[begin:timer-close]%%
<html>
<head/>
<body onload="self.close();" />

</html>
%%[end:timer-close]%%


