<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Pro Bono Mail Merge Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <input type=submit name="gen" value="Download Spreadsheet" class="btn btn-primary" tabindex="1">
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
