<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Opposing Party Report</h2>
<!-- 05-19-2011 - caw - created new report based frm inactive_case -->
<h2>Inactive User Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Start Date:  <br/>
      %%[date_start,input_date_selector]%%<br/>
      End Date:  <br/>
      %%[date_end,input_date_selector]%%<br/>
    </div>
    <div class="col">
      Opposing Party:<br/>
      %%[opposing_name,input_text]%%<br/>
      Office:<br/>
      %%[office,office]%%<br/>
      Funding Code:<br/>
      %%[funding,funding]%%<br/>
      Problem Code:<br/>
      %%[problem,problem]%%<br/>
      Advocate:<br/>
      %%[user_id,staff_array]%%<br/>
      Case County:<br/>
      %%[case_county,input_text]%%<br/>
    </div>
    <div class="col">
      Order Results By:<br/>
      %%[order_by,order_by]%%<br/>
      Order:<br/>
      %%[order,order]%%<br/>
      %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
      %%[show_sql,checkbox,label=Show SQL]%%<br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1" />
    </div>
  </div>
</div>
</form>

<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
