<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Daily Intake Report</h2>
<div class="container-fluid">
<div class="row">
		<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
  <div class="col">
		Office:<br>
		%%[office,office]%%
  </div>
  <div class="col">
		Date:<br>
		%%[date,input_date_selector]%%
  </div>
  <div>
		%%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
		%%[show_sql,checkbox,label=Show SQL]%%<br/>
  </div>
</div>
<div class="row">
  <div class="col">
		<input type=submit name="gen" value="Generate Report" class="btn btn-primary" tabindex="1">
  </div>
</div>
		</form>
</div>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>

%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
